.icons {
    color: rgb(29, 255, 29);
    font-size: 20px;
}

.header {
    color: black;
    font-size: 50px;
    font-family: 'Josefin sans', sans-serif;
    justify-content: center;
}

#collapsibleNavbar {
    justify-content: center;
}

.fa-caret-up {
    font-size: 40px;
}

.navbar-nav {
    font-family: 'Josefin sans', sans-serif;
    margin-left: 225px;
}

.navbar-nav>.nav-item {
    margin-right: 30px;
}

.nav-item>.nav-link {
    color: black;
}

.img>img {
    width: 1519px;
}

.img {
    padding-left: 0px;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1519px;
    }
}

.carousel-caption {
    height: 240px;
    margin-left: 418px;
    text-align: left !important;
    font-family: 'Josefin sans', sans-serif;
    color: black;
}

.carousel-caption>h1 {
    color: black;
    font-weight: 900;
    font-size: 60px;
}

.carousel-caption .btn {
    background-color: black;
    color: white;
    border-radius: 23px;
    margin-top: 25px;
    padding-right: 40px;
    padding-left: 40px;
    font-size: 13px;
}

.icon {
    position: absolute;
    margin-top: 152px;
    color: black;
    text-align: center;
    font-size: 34px;
    z-index: 2000;
}

.fa-chevron-circle-left:hover {
    font-size: 50px;
    color: rgb(29, 255, 29);
}

.fa-chevron-circle-right:hover {
    font-size: 50px;
    color: rgb(29, 255, 29);
}

.about {
    margin-top: 50px;
    padding-top: 125px;
    font-family: 'josefin sans', sans-serif;
    justify-content: center;
}

.about-title>h2 {
    font-weight: 900;
}

.about-title>h2 span {
    color: rgb(29, 255, 29);
}

.about-title .btn {
    background-color: black;
    color: white;
    margin-top: 25px;
    padding-right: 22px;
    padding-left: 22px;
    font-size: 13px;
}

.services {
    justify-content: center;
    margin-top: 50px;
}

.service-title {
    padding-bottom: 30px;
    font-family: 'josefin sans', sans-serif;
    padding-left: 150px;
    font-weight: 600;
}

.service-title>h2 span {
    color: rgb(29, 255, 29);
}

.margin-0 {
    margin: 0px 288px;
    margin-bottom: 100px;
}

.pad {
    padding-top: 90px;
}

.btn {
    background-color: black;
    color: white;
    font-size: 10px;
    padding: 8px 30px;
}

.btn:hover {
    color: white;
}

.title span {
    color: rgb(29, 255, 29);
}

.width-0 {
    width: 1206px;
    margin-left: 250px;
}

.bg {
    background-color: rgb(212, 205, 205);
    height: 1100px;
    margin-bottom: 150px;
}

.bg-dark {
    margin-left: 15px;
}

.margin-1 {
    margin-left: 44px !important;
}

.pad-0 {
    padding-left: 30px;
}

.margin-left-0 {
    margin-left: 15px;
}

.margin-360 {
    margin-top: 15px;
}

.width-0 .text-center {
    margin-top: 70px;
    color: white;
}

.width-0 .text-center>p {
    font-weight: 300;
}

@media only screen and (max-width: 812px) and (min-width: 280px) {
    .img>img {
        width: 360px;
        height: 283px;
    }
    .carousel-caption {
        margin-left: 0px;
        margin-bottom: 265px;
    }
    .icon {
        margin-top: 0px;
        margin-left: 87px;
    }
    .carousel-caption>h1 {
        font-size: 30px;
    }
    .about {
        margin-top: 0px;
        padding-top: 50px;
    }
    .about-img {
        width: 360px !important;
    }
    .img-0 {
        width: 340px !important;
    }
    .service-title {
        padding-left: 0px !important;
    }
    .margin-0 {
        margin: 0px !important
    }
    .margin {
        margin-bottom: 90px;
    }
    .width-0 {
        width: 340px;
        margin-left: 0px;
    }
    .display {
        display: none;
    }
    .bg-dark {
        margin-right: 25px;
    }
    .margin-left-0 {
        margin-left: 0px;
    }
    .mt {
        margin-top: 15px;
    }
    .btn {
        margin-bottom: 15px;
    }
    .bg {
        height: 990px;
        margin-bottom: 75px;
    }
}

.about-img {
    position: relative;
    width: 390px;
}

.nav-item>.nav-link:hover {
    color: rgb(29, 255, 29);
}

.service-title>h2 {
    margin-right: 80px;
    text-align: center;
}

.margin100 {
    margin-left: 100px;
}

.margin100 span {
    color: rgb(29, 255, 29);
}

.left.carousel-control {
    margin-left: 140px;
}

.fa-angle-left,
.fa-angle-right {
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 18px;
    background-color: black;
    color: white;
    margin-top: 225px;
}

.fa-angle-left:hover,
.fa-angle-right:hover {
    background-color: rgb(29, 255, 29);
}

.carousel-inner {
    width: 772px !important;
}

.carousel-inner>img {
    width: 300px;
}

.image {
    width: 732px;
}

#carousel-cap.carousel-caption {
    color: white;
    width: 372px;
    height: 180px;
    margin-left: 112px;
    text-align: left !important;
}

a:hover {
    text-decoration: none !important;
}